<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
  {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
  <link href="{{ relative }}static/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ relative }}static/css/syntax.css" rel="stylesheet">
  <link href="{{ relative }}static/css/style.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="{{ relative }}static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'] ],
          processEscapes: true
        },
        TeX: { equationNumbers: { autoNumber: "AMS" } }

      });
  </script>

  <title>{{ page.title }}</title>
 </head>
<body>
 <div class="wrapper">
  <div id="header">
   <div class="container"><div class="row">
    <div class="col-lg-10 col-lg-offset-1">
     <h1>PSAS Research Notebooks</h1>
    </div>
   </div></div>
  </div>
  <div id="content">
   <div class="container">
    <div class="row">
     <div class="col-lg-10 col-lg-offset-1">
      {{ content }}
     </div>
    </div>
   </div>
  </div>
 </div>
 <div id="footer">
  <div class="container"><div class="row">
    <div class="col-lg-10 col-lg-offset-1">
     <a href="http://psas.pdx.edu">psas.pdx.edu</a>
    </div>
  </div></div>
 </div>
</body>
</html>
